<div id="projects" class="project-list-section">
    <h2 >Projects</h2>
    <div class="projects-name">
        <div data-aos="zoom-in" data-aos-duration="900" class="project-card">
            <div class="project-icon">
                <div class="round" style="background-color: white; height: 100px; width: 100px; border-radius: 50%; ">
                    <img src="assets/artificial-intelligence.png" alt="profile-photo" height="80" width="80" style=" margin-top: 10%;
                    margin-left: 10%;">
                </div>
            </div>
            <div class="vl"></div>
            <div class="project-description">
                <h3> 
                    Brain Controlled Robotic Arm using BCI
                </h3> 
                <p>Developed a prototype to assist paralyzed patients to place objects from one place to another.</p>
                <p>Generated Artificial Neural Network model and Brain Computer Interface(BCI) to interact between robot and human,
                without participation of human hand to assist patients impaired by neurological conditions.</p>
                <p>Achieved an average accuracy of 71.03% in predicting various movement classes.</p>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="900" class="project-card">
            <div class="project-icon">
                <div class="round" style="background-color: white; height: 100px; width: 100px; border-radius: 50%; ">
                    <img src="assets/analysis.png" alt="profile-photo" height="80" width="80" style=" margin-top: 10%;
                    margin-left: 10%;">
                </div>
            </div>
            <div class="vl"></div>
            <div class="project-description">
                <h3>
                    Covid Tracker
                </h3> 
                <p>Designed and constructed a web portal using Node.js, HTML5, CSS3, JavaScript and ReactJS to track number of
                    covid cases, number of recovered and deaths occurring per day.</p>
                <p>Accomplished interactive user interface for user to choose from various countries to extract insights about cases in
                    respective country.</p>
                <p>Deployed codebase on Firebase for users to access it online and analyse patterns of the covid cases.</p>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="900" class="project-card">
            <div class="project-icon">
                <div class="round" style="background-color: white; height: 100px; width: 100px; border-radius: 50%; ">
                    <img src="assets/deep-learning.png" alt="profile-photo" height="80" width="80" style=" margin-top: 10%;
                    margin-left: 10%;">
                </div>
            </div>
            <div class="vl"></div>
            <div class="project-description">
                <h3>
                    Find Infarct
                </h3> 
                <p>Developed a prototype to assist paralyzed patients to place objects from one place to another.</p>
                <p>Generated Artificial Neural Network model and Brain Computer Interface(BCI) to interact between robot and human,
                without participation of human hand to assist patients impaired by neurological conditions.</p>
                <p>Achieved an average accuracy of 71.03% in predicting various movement classes.</p>
            </div>
        </div>
    </div>
</div>
