<div class="about">
    <div class="column left"></div>
    <div class="column right" data-aos="fade-right" data-aos-duration="2000">
        <div class="circle-photo">
            <img src="assets/profile-photo.png" alt="profile-photo" height="160" width="160">
        </div>
        <div class="name-field">
            Shreya Deexit
        </div>
        <hr>

        <div class="navigate-list">
                <!-- <a href=""><div class="dot"><p>Resume</p></div></a>
                <a href=""><div class="dot"><p>Projects</p></div></a>
                <a href=""><div class="dot"><p>Contact</p></div></a> -->
                <ul>
                    <li>
                      <a href="#">
                        Resume
                      </a>
                    </li>
                    <li>
                      <a href="#projects">
                        Projects
                      </a>
                      </li>
                    <li>
                      <a href="#">
                        Contact
                      </a>
                      
                    </li>
                  </ul>
        </div> 
        <div class="social-media-links">
            <div class="social-media-icons">
                <a href="https://github.com/ShreyaDeexit" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/shreya-deexit-623150169/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>  
    <div class="column leftmost" data-aos="fade-left" data-aos-duration="2000">
        <span id="greet">Hello</span>
        <div class="slider-name">
            <span id="i-am">I am</span> <span class="tw"></span>
        </div>
        <div class="intro-paragraph">
            Intrigued by design, travelling, pop music, fabulous food, and even better conversation. <br>
            <p>
                Seeking to be inspired, to envision the unlikely, to work hard for things that worth it, and to 
                be surrounded by those who bring out the best in me.
            </p>
        </div>
        <div class="scroll-wrapper">
            <a href="#projects" id="down-icon">
                <i class="scroll fa-solid fa-chevron-down"></i>
            </a>
        </div>
    </div>
</div> 
