<div class="about">
    <div class="column left"></div>
    <div class="column right">
        <div class="circle-photo">
            <img src="assets/profile-photo.png" alt="profile-photo" height="160" width="160">
        </div>
        <div class="name-field">
            Shreya Deexit
        </div>
        <hr>

        <div class="navigate-list">
                <a href=""><div class="dot"><p>Resume</p></div></a>
                <a href=""><div class="dot"><p>Projects</p></div></a>
                <a href=""><div class="dot"><p>Contact</p></div></a>
        </div> 
        <div class="social-media-links">
            <div class="social-media-icons">
                <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>  
    <div class="column leftmost">
        <span id="greet">Hello</span>
        <div class="slider-name">
            <span id="i-am">I am</span> <span class="tw"></span>
        </div>
        <div class="intro-paragraph">
            Intrigued by design, travelling, pop music, fabulous food, and even better conversation. <br>
            <p>
                Seeking to be inspired, to envision the unlikely, to work hard for things that worth it, and to 
                be surrounded by those who bring out the best in me.
            </p>
        </div>
        <div class="scroll-wrapper">
            <a href="#lorem" id="down-icon">
                <i class="scroll fa-solid fa-chevron-down"></i>
            </a>
        </div>
    </div>
</div> 
<div class="target" id="lorem">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>