<div class="header">
        <a href="">
            <div class="left-side">
                <div class="logo">
                    <i class="fa-regular fa-snowflake" style="color: #fc6d6d;" ></i>
                </div>
                <span id="name">
                    Shreya Deexit
                </span>
            </div>
        </a>
        <div class="right-side">
            <ul>
                <li><a href="#" id="underline-hover-effect">Resume</a></li>
                <div class="vl"></div>
                <li><a href="#projects" id="underline-hover-effect">Projects</a></li>
                <div class="vl"></div>
                <li><a href="#" id="underline-hover-effect">Contact</a></li>
            </ul>
        </div>
</div>